@use '@angular/material' as mat;

$primary-palette: (
  50 : #e4edf4,
  100 : #bdd3e3,
  200 : #91b5d1,
  300 : #6497bf,
  400 : #4381b1,
  500 : #226ba3,
  600 : #1e639b,
  700 : #195891,
  800 : #144e88,
  900 : #0c3c77,
  A100 : #a8cbff,
  A200 : #75acff,
  A400 : #428eff,
  A700 : #297eff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #ffffff,
  )
);

$accent-palette: (
  50 : #faf5f0,
  100 : #f2e5da,
  200 : #e9d4c2,
  300 : #e0c3aa,
  400 : #d9b697,
  500 : #d2a985,
  600 : #cda27d,
  700 : #c79872,
  800 : #c18f68,
  900 : #b67e55,
  A100 : #ffffff,
  A200 : #fff1e6,
  A400 : #ffd3b3,
  A700 : #ffc49a,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$warn-palette: (
  50 : #fff1ed,
  100 : #ffdcd1,
  200 : #ffc5b2,
  300 : #ffad93,
  400 : #ff9c7c,
  500 : #ff8a65,
  600 : #ff825d,
  700 : #ff7753,
  800 : #ff6d49,
  900 : #ff5a37,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffe6e1,
  A700 : #ffd0c8,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$primary: mat.define-palette($primary-palette, 500);
$accent: mat.define-palette($accent-palette, 500);
$warn: mat.define-palette($warn-palette, 500);

$light-theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn
  ),
  typography: mat.define-typography-config(),
  density: 0,
));