:root {
  color-scheme: light;

  --brand-primary: #6dbc7e;
  --brand-primary-dark: #27a14a;
  --brand-primary-light: #c0e1c6;
  --brand-accent: #6dbca6;
  --brand-warn: #ff8a65;

  --color-danger: #C62828;
  --color-success: #388E3C;

  --border-radius: 20px;
  --border-radius-round: 36px;

  --text: #FFFFFF;
  --text-muted: #FFFFFFB3;
  --text-disabled: #FFFFFF4D;
  --text-light: #FFFFFF;
  --text-dark: #383838;

  --background-color: #E8E8E8;

  --hover-highlight: #FFFFFF33;
}