:root {
  color-scheme: dark;

  --brand-primary: #226ba3;
  --brand-primary-dark: #0c3c77;
  --brand-primary-light: #6497bf;
  --brand-accent: #d2a985;
  --brand-warn: #ff8a65;

  --color-danger: #C62828;
  --color-success: #388E3C;

  --border-radius: 20px;
  --border-radius-round: 36px;

  --text: #303030;
  --text-muted: #303030CC;
  --text-disabled: #3030304D;
  --text-light: #FFFFFF;
  --text-dark: #181818;

  --background-color: #E8E8E8;

  --hover-highlight: #FFFFFF33;

  // Weather Colors
  --clear-day: #e99c05;
  --clear-night: #190482;
  --cold-day: #7C93C3;
  --cold-night: #4a5875;
}