<div class="items-center">
    <div class="search-input-container glass space-x-2 h-16 pl-4">
        <mat-icon>location_on</mat-icon>
        <input type="test" 
            class="search-input-field grow" 
            placeholder="Search location..."
            [(ngModel)]="searchTerm"
            (ngModelChange)="searchTermChange($event)">
        <ng-container *ngIf="loading; else functionIcons">
            <div class="pr-4">
                <app-spinner [diameter]="20"></app-spinner>
            </div>
        </ng-container>
        <ng-template #functionIcons>
            <div class="flex items-center">
                <ng-container *ngIf="!searchTerm">
                    <mat-icon class="mr-4">search</mat-icon> 
                </ng-container>
                <ng-container *ngIf="searchTerm">
                    <button mat-icon-button (click)="clearSearch()" class="mr-2">
                        <mat-icon>close</mat-icon>                 
                    </button>
                </ng-container>
            </div>
        </ng-template>
    </div>

    <ng-container *ngIf="!searchResults.length">
        <div class="or-container mx-2 my-6">
            <div class="or-text p-2 text-lg">OR</div>
        </div>

        <button mat-raised-button 
            (click)="onUseMyLocation.emit()"
            class="w-full flex button-rounded">
            <mat-icon>my_location</mat-icon>
            Use my location
        </button>
    </ng-container>

    <ng-container *ngIf="searchResults.length">
        <app-location-results [locations]="searchResults"></app-location-results>
    </ng-container>
</div>