@import '../../../../assets/styles/partials/variables';

.search-input-container {
    display: flex;
    align-items: center;
    border-radius: var(--border-radius-round);
    transition: border-color 0.2s ease-in-out;
}

.search-input-container:focus-within {
    border: 1px solid rgba( 255, 255, 255, 0.7 );
}
  
.search-input-field {
    border: none;
    background-color: transparent;
    color: var(--text);
    outline: none;
    padding: 6px;
}
  
.search-input-field::placeholder {
    color: var(--text-muted); 
}
  
.search-input-field::-webkit-input-placeholder {
    color: var(--text-muted);  
}