<div class="h-full geolocation-background flex p-4 md:p-0">
    <div class="m-auto w-full sm:w-3/4 md:w-1/2 lg:w-1/4">
        <app-search-location (onSetLocation)="setGeolocation($event)"></app-search-location>
    </div>

    <div class="floating-actions flex flex-col space-y-2">
        <button mat-fab [extended]="!smallScreen" color="white" class="w-full" (click)="useMyLocation()">
          <mat-icon>my_location</mat-icon>
          <ng-container *ngIf="!smallScreen">My Location</ng-container>
        </button>
    </div>
</div>