<div class="glass relative card-rounded h-full">
    <div class="absolute top-0 right-0">
        <div class="flex items-center space-x-1">
            <mat-icon *ngIf="isDevMode"
                class="text-red-600"
                matTooltip="Application is running in development mode"
                matTooltipPosition="below">
                bug_report
            </mat-icon>
            <button class="text-white" 
                mat-icon-button
                [matMenuTriggerFor]="menu">
                <mat-icon>settings</mat-icon>
            </button>
        </div>

        <mat-menu #menu>
            <div class="menu-contents p-1">
                <mat-radio-group [(ngModel)]="units"
                    (ngModelChange)="setUnits()" 
                    color="primary"
                    class="flex flex-col">
                    <mat-radio-button value="imperial">°F</mat-radio-button>
                    <mat-radio-button value="metric">°C</mat-radio-button>
                </mat-radio-group>
            </div>
          </mat-menu>
    </div>

    <div class="h-full grid grid-cols-12 p-4">
        <div class="flex flex-col items-center justify-center col-span-12 lg:col-span-6 px-2 pb-4 lg:pb-0 border-b lg:border-b-0 lg:border-r border-divider">
            <button mat-button class="button-rounded" [routerLink]="['/location']">
                <div class="flex items-center space-x-2 location-button">
                    <img class="w-4 h-4 object-cover" src="https://flagsapi.com/{{currentWeather.sys.country}}/flat/32.png">
                    <div class="truncate">{{currentWeather.name}}</div>
                </div>
            </button>
            <div class="text-8xl font-bold truncate">{{currentWeather.main.temp}}°</div>
            <div class="text-2xl">{{currentWeather.weather[0].description}}</div>
            <div class="h-8 flex mt-2 items-center cursor-pointer" (click)="updateWeather()">
                <div *ngIf="updateLoading; else refreshIcon" class="mr-2">
                    <app-spinner [diameter]="10"></app-spinner>
                </div>
                <ng-template #refreshIcon>
                    <mat-icon class="scale-75">refresh</mat-icon>
                </ng-template>
                
                <span class="text-xs font-thin">Last updated {{currentWeather.dt*1000 | date: 'short'}}</span>
            </div>
        </div>

        <div class="flex flex-col items-center justify-center col-span-12 mt-2 lg:col-span-6">
            <img class="w-32 h-32 mb-4" src="../../../../assets/icons/{{currentWeather.pod}}/{{currentWeather.image}}"/>
            <div class="text-xl">{{currentWeather.main.temp_max}}° | {{currentWeather.main.temp_min}}°</div>
            <div class="text-lg font-thin">Feels like {{currentWeather.main.feels_like}}°</div>
        </div>
    </div>
</div>