<div class="h-full home-background flex p-4 md:p-0"
    [ngStyle]="{'background-image': 'url(../../../assets/backgrounds/' + timePath + '/' + backgroundName + ')'}">
    <div class="m-auto w-full sm:w-3/4 md:w-2/3 lg:w-1/2">

        <ng-container *ngIf="loading; else weatherComponents">
            <app-loader></app-loader>
        </ng-container>

        <ng-template #weatherComponents>
            <div class="grid grid-cols-12 gap-4 " *ngIf="currentWeather">
                <div class="col-span-12 lg:col-span-8">
                    <app-current-weather [currentWeather]="currentWeather"></app-current-weather>
                </div>

                <div class="col-span-12 lg:col-span-4">
                    <app-conditions 
                        [windSpeed]="currentWeather.wind.speed"
                        [humidity]="currentWeather.main.humidity"
                        [sunrise]="currentWeather.sys.sunrise"
                        [sunset]="currentWeather.sys.sunset"
                        [timezone]="currentWeather.timezone">
                    </app-conditions>
                </div>
            </div>
        </ng-template>
    </div>
</div>